<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>pickphrase</h1>
        <p>choose a phrase to hide within.</p>
        <p>(☼ awards 1 extra point)</p>

        <button>phrase 1</button>
        <button>phrase 2</button>
        <button>phrase 3</button>

        <!-- Include Axios library -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            // todo
        </script>
    </body>
</html>